@font-face {
  font-family: "Satoshi-Medium";
  src: url("../assets/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../assets/fonts/Satoshi-Medium.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("../assets/fonts/Satoshi-Black.woff2") format("woff2"),
    url("../assets/fonts/Satoshi-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --color-primary: #6788ff; /* Edgy, intense pink as primary */
  --color-primary-light: #b1c2ff; /* Bold orange for hover */
  --color-primary-dark: rgb(103, 136, 255, 0.25);

  --color-secondary-dark: #dba501;
  --color-secondary: #f1bb13;
  --color-secondary-light: #f2d891;

  --color-dark-grey: rgb(27, 27, 27);
  --color-text: #333333; /* Softer off-white text for better readability */
  --color-text-light: #515151;
  --color-text-dark: #9b9b9b; /* Softer off-white text for better readability */
  --color-bg: #6788ff1a; /* Slightly lighter dark background for the app */

  --font-satoshi-bold: "Satoshi-Black", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-satoshi-regular: "Satoshi-Medium", sans-serif;

  --font-size-regular: 16px;
  --btn-border-radius: 10px;
  --btn-border-radius-round: 20px;

  --gradient-1: linear-gradient(90deg, var(--color-primary), var(--color-primary-light));
  --gradient-2: linear-gradient(90deg, var(--color-primary-light), var(--color-primary-dark));
  --gradient-3: linear-gradient(120deg, var(--color-bg), var(--color-primary-dark));
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  margin: 0;
}

body {
  color: var(--color-text);
  margin: 0;
  font-family: var(--font-satoshi-regular);
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 15px;
}

.bold {
  font-family: var(--font-satoshi-bold);
}

a {
  text-decoration: none !important;
  transition: ease-in-out 0.3s;
  display: inline-block;
  color: var(--color-text);
}

a:hover,
a:active,
a:focus {
  transition: ease-in-out 0.3s;
}

.page-heading {
  color: var(--color-primary);
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: var(--font-satoshi-bold);
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

/*//////////////////////
// Input
//////////////////////*/

label {
  font-size: var(--font-size-regular);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  -moz-appearance: textfield;
  font-family: var(--font-satoshi-regular);
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

select {
  width: 100%;
  border: none;
  outline: none;
  font-size: var(--font-size-regular);
  font-family: var(--font-satoshi-regular);
  background: inherit;
}

.select-wrapper {
  background-color: var(--color-dark-grey);
  padding-right: 10px;
  border-radius: 10px;
}

/*//////////////////////
// Buttons
//////////////////////*/

button {
  color: var(--color-text);
  background: var(--color-bg);
}

.btn {
  padding: 10px 20px;
  border-radius: var(--btn-border-radius);
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-regular);
  font-family: var(--font-satoshi-bold);
  transition: background-color 0.3s ease;
}

.btn:disabled,
.btn:disabled,
.btn--disabled {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}

.btn--primary {
  color: #fff;
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-light)
  ); /* Gradient */
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Added smooth transition for multiple properties */
}

.btn--primary:hover {
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-primary-light)
  ); /* Gradient */
  transform: scale(1.02);
  color: #ffffff; /* Adjusted text color on hover */
}

.btn--secondary {
  color: #fff;
  background: linear-gradient(
    90deg,
    var(--color-secondary-dark),
    var(--color-secondary-light)
  ); /* Gradient */
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Added smooth transition for multiple properties */
}

.btn--secondary:hover {
  background: linear-gradient(
    45deg,
    var(--color-secondary-dark),
    var(--color-secondary)
  ); /* Gradient */
  transform: scale(1.02);
  color: #ffffff; /* Adjusted text color on hover */
}

.btn--connect {
  font-size: 18px;
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-light)
  ); /* Gradient */
  color: #ffffffe6; /* White text */
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Added smooth transition for multiple properties */
}

.btn--connect:hover {
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-primary-light)
  ); /* Gradient */
  transform: scale(1.05); /* Slightly increase size on hover for smooth visual feedback */
  color: #ffffff; /* Adjusted text color on hover */
}

@media screen and (max-width: 600px) {
  .btn--connect {
    padding: 5px;
  }
}

/*//////////////////////
// Tags
//////////////////////*/

.tag {
  font-family: var(--font-satoshi-bold);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  min-width: 98px;
  color: #fff;
  background: linear-gradient(
    90deg,
    var(--color-secondary-dark),
    var(--color-secondary-light),
    var(--color-secondary-dark)
  );
}

/*//////////////////////
// Icons
//////////////////////*/

.icon {
  width: 25px;
}

.icon--small {
  font-size: 10px;
  width: 15px;
}

/*//////////////////////
// Modal
//////////////////////*/

.modal__input {
  width: 100%;
}

.modal__error {
  color: red;
  font-weight: 700;
}

/*//////////////////////
// App
//////////////////////*/

.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

/*//////////////////////
// Navbar
//////////////////////*/

.navbar {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-weight: 700;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .logo__text {
  font-family: var(--font-satoshi-bold);
  font-size: 25px;
  color: var(--color-primary);
}

.navbar .logo__img {
  width: 70px;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.navbar__links--bg {
  background: var(--gradient-2);
}

.navbar__link {
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  font-size: var(--font-size-regular);
  font-family: var(--font-satoshi-regular);
  color: #ffffffe6;
  word-wrap: none;
  border-radius: 5px;
}

.navbar__balance {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-satoshi-bold);
  padding: 0 5px;
  text-align: center;
}

.navbar__network {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-radius: 8px;
  border: 2px solid var(--color-primary);
  width: 110px;
  height: 45px;
  margin-right: 10px;
  cursor: pointer;
}

.navbar__network .logo {
  width: 60%;
  border-radius: 8px;
}

.navbar__link--selected {
  cursor: pointer;
  background: linear-gradient(90deg, var(--color-bg), var(--color-primary) 50%, var(--color-bg));
  /* color: #ffffffe6; */
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

/* Section */
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 100px;
  /* min-height: 80vh; */
  margin-top: 150px;
  margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    row-gap: 10px;
  }

  .btn--connect {
    padding: 10px 20px;
  }

  .main {
    padding: 60px 20px;
  }

  .navbar .logo__text {
    font-size: 21px;
  }

  .navbar .logo__img {
    width: 50px;
  }
}
