.pool {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
  /* display: flex;
  justify-content: space-between; */
}

.pool__interface {
  width: 100%;
  max-width: 500px;
  padding: 20px 15px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-satoshi-regular);
  border-radius: var(--btn-border-radius);
  background: var(--gradient-3);
  height: max-content;
  row-gap: 10px;
  position: relative;
  justify-self: center;
}

.pool__interface input {
  border: none;
  background: var(--color-bg);
  outline: none;
  font-size: 21px;
  color: var(--color-text);
  font-family: var(--font-satoshi-regular);
}

.pool__interface-box {
  width: 100%;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid var(--color-primary-light);
  border-radius: var(--btn-border-radius);
}

.pool__interface-box .label {
  padding: 20px;
  font-family: var(--font-satoshi-bold);
}

.pool__interface-box .input-box {
  padding: 20px;
  display: flex;
  border-left: 2px solid var(--color-primary-light);
}

@media screen and (max-width: 600px) {
  .pool__interface {
    left: 0;
  }

  .pool {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
  }

  .pool__interface-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
  }

  .pool__interface-box .input-box {
    border: none;
    padding: 0;
  }

  .pool__interface-box .label {
    padding: 0px;
    width: 100%;
    text-align: center;
    /* border-bottom: 2px solid var(--color-primary-light); */
  }
}

/* Container for pool info */
.pool__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Changed 'left' to 'flex-start' for better compatibility */
  width: 100%;
  background: var(--gradient-3);
  border-radius: var(--btn-border-radius);
  padding: 15px; /* Slightly increased padding for a more spacious look */
  font-family: var(--font-satoshi-bold);
  height: max-content;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  gap: 10px; /* Added gap between child elements */
}

/* Styling for paragraphs within the pool info */
.pool__info p {
  margin: 8px 0; /* Adjusted margin for a cleaner layout */
  display: flex;
  justify-content: space-between;
  color: var(--color-text-light);
  font-size: 0.95rem; /* Slightly smaller font size for better readability */
  line-height: 1.5; /* Improved line-height for text spacing */
}

/* Style for span elements within the pool info */
.pool__info span {
  color: var(--color-text);
  font-weight: 600; /* Slightly bolder weight for emphasis */
}
