.pool {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pool__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
}

.pool__interface {
  width: 100%;
  max-width: 500px;
  padding: 20px 15px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-satoshi-regular);
  border-radius: var(--btn-border-radius);
  background: var(--gradient-3);
  height: max-content;
  row-gap: 10px;
  position: relative;
  justify-self: center;
}

.pool__interface input {
  border: none;
  background: var(--color-bg);
  outline: none;
  font-size: 21px;
  color: var(--color-text);
  font-family: var(--font-satoshi-regular);
}

.pool__interface-box {
  width: 100%;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid var(--color-primary-dark);
  border-radius: var(--btn-border-radius);
}

.pool__interface-box .label {
  padding: 20px;
  font-family: var(--font-satoshi-bold);
}

.pool__interface-box .input-box {
  padding: 20px;
  display: flex;
  /* border-left: 2px solid var(--color-primary-dark); */
  background-color: #ffffff;
  border-radius: var(--btn-border-radius);
}

@media screen and (max-width: 600px) {
  .pool__interface {
    left: 0;
  }

  .pool__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 70px;
  }

  .pool__interface-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
  }

  .pool__interface-box .input-box {
    border: none;
    padding: 0;
    background: inherit;
  }

  .pool__interface-box .label {
    padding: 0px;
    width: 100%;
    text-align: center;
    /* border-bottom: 2px solid var(--color-primary-light); */
  }
}

.pool__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: var(--gradient-3);
  color: var(--color-text);
  border-radius: var(--btn-border-radius);
  padding: 30px;
}

.pool__info ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Set desired column count here */
  list-style: none;
  text-align: left; /* Changed from center to avoid redundancy */
  margin: 0;
  padding: 0;
  margin-left: 10%;
  column-gap: 10px;
  row-gap: 25px;
}

.pool__info ul li {
  width: 100%;
  list-style-type: none;
}

.pool__info ul li h3 {
  font-size: 18px;
}

.pool__info small {
  font-size: 12px;
  line-height: 30px;
}

@media screen and (max-width: 600px) {
  .pool__info ul li h3 {
    font-size: 16px;
    margin-left: 0;
  }

  .pool__info ul {
    margin-left: 0;
    column-gap: 25px;
  }
}
